*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	transition: 0.4s ease-in-out;
	font-family: "Spline Sans Mono";
	transition: all 0.3s ease-in-out;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

option,
select,
input,
button {
	border: none;
	cursor: pointer;
	font-family: inherit;
}

h1 {
	font-size: 4rem;
	color: aliceblue;
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	justify-content: space-evenly;
	align-items: center;
	background: url("background.jpg");
	background-position: center;
	background-size: cover;
}

.main-container {
	display: flex;
	flex-direction: row;
	width: 75%;
	max-width: 400px;
	justify-content: space-around;
	align-items: flex-end;
}

.portal-parts {
	height: 225px;
	margin: 0 1rem;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
}

select,
.amount-input {
	padding: 2rem;
	font-size: 1.75rem;
	background-color: gold;
}

.submit-btn {
	font-size: 1.75rem;
	padding: 2rem;
	background-color: gold;
}

.answer {
	font-size: 2.5rem;
	color: aliceblue;
}

.wheatley-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	z-index: 1;
}

.cloud {
	position: absolute;
	left: 200px;
	top: 50px;
	background-color: aliceblue;
	font-size: 1.75rem;
	padding: 2rem;
	width: 350px;
	opacity: 0.75;
}
.cloud::after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	top: 40px;
	left: -10px;
	background-color: aliceblue;
	transform: rotate(45deg);
}

/* .testimg {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 0;
	height: 75%;
} */
